app/src/main/res/layout/activity_test.xml
app/src/main/java/com/stimednp/crudrealtimedb/activity
app/src/main/java/com/stimednp/crudrealtimedb/TestActivity.kt
app/src/main/java/com/stimednp/crudrealtimedb/base
app/src/main/java/com/stimednp/crudrealtimedb/bind/
app/src/main/java/com/stimednp/crudrealtimedb/presenter
app/src/main/res/layout/activity_addedit.xml
app/src/main/res/layout/activity_main.xml

*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
